html {
    scroll-behavior: smooth;
}

body {
    position: relative;

    text-align: center;
    font-size: 1.2em;

    background-image: linear-gradient(#0007, #0007), url('/assets/snow-village.webp');
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
}

a, a:hover, a:focus {
    color: black;
}

.white-links a, .white-links a:hover, .white-links a:focus {
    color: white;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Firefox < 16 */
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Safari, Chrome and Opera > 12.1 */
@-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Internet Explorer */
@-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Opera < 12.1 */
