.portfolio {
    display: flex;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.portfolio > img {
    height: 6em;
}

.portfolio > div {
    text-align: left;
    padding-left: 1em;
}
